@tailwind base;
@tailwind components;
@tailwind utilities;


html,body {
    height: 100vh;
}
@layer utilities {
    .popover-content-width-full {
        width: var(--radix-popover-trigger-width);
        max-height: var(--radix-popover-content-available-height);
    }
}
